<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.eportfolio">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:debuggable="false"
        tools:ignore="HardcodedDebugMode"
        android:requestLegacyExternalStorage="true">

        <activity android:name="com.project.eportfolio.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.project.eportfolio.LoginActivity" />
        <activity android:name="com.project.eportfolio.utility.PreferenceUtils" />

        <activity android:name="com.project.eportfolio.student.HomeStudent" />
        <activity android:name="com.project.eportfolio.student.InputStudent"/>
        <activity android:name="com.project.eportfolio.student.PortfolioStudent"/>
        <activity android:name="com.project.eportfolio.student.ProfileStudent"/>
        <activity android:name="com.project.eportfolio.student.ProfileStudentSettingEdit" />
        <activity android:name="com.project.eportfolio.student.ProfileStudentSettingPrivacy" />

        <activity android:name="com.project.eportfolio.student.portfolio.ForumEdukasi" />
        <activity android:name="com.project.eportfolio.student.portfolio.Karya" />
        <activity android:name="com.project.eportfolio.student.portfolio.Organisasi" />
        <activity android:name="com.project.eportfolio.student.portfolio.Penghargaan" />
        <activity android:name="com.project.eportfolio.student.portfolio.Proyek" />
        <activity android:name="com.project.eportfolio.student.portfolio.UnjukKerja" />

        <activity android:name="com.project.eportfolio.teacher.HomeTeacher" />
        <activity android:name="com.project.eportfolio.teacher.InputTeacher" />
        <activity android:name="com.project.eportfolio.teacher.MasterTeacher" />
        <activity android:name="com.project.eportfolio.teacher.ProfileTeacher"/>
        <activity android:name="com.project.eportfolio.teacher.ProfileTeacherSettingEdit" />
        <activity android:name="com.project.eportfolio.teacher.ProfileTeacherSettingPrivacy" />

        <activity android:name="com.project.eportfolio.teacher.master.DataGuru" />
        <activity android:name="com.project.eportfolio.teacher.master.DataKelas" />
        <activity android:name="com.project.eportfolio.teacher.master.DataMapel" />
        <activity android:name="com.project.eportfolio.teacher.master.DataMurid" />
        <activity android:name="com.project.eportfolio.teacher.master.DataPortfolio" />
        <activity android:name="com.project.eportfolio.teacher.master.DataPortfolioDuaModel" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.eportfolio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>